{{define "event_create"}}

<div class="terminal-card">
  <div class="terminal-header">{{.Title}}</div>

  <div class="terminal-body">
    {{with .Data}} {{if .Error}}
    <p class="error">> ERRO: {{.Error}}</p>
    <br />
    {{end}} {{end}}

    <form method="POST" action="/events" class="form">
      <div class="field">
        <span class="prompt">&gt;</span>
        <span class="label">Nome do evento:</span>
        <input
          class="value"
          type="text"
          name="name"
          placeholder="Nome do evento"
          value="{{with .Data}}{{.Name}}{{end}}"
        />
      </div>

      <div class="field">
        <span class="prompt">&gt;</span>
        <span class="label">Total de vagas:</span>
        <input
          class="value"
          type="number"
          name="total_seats"
          placeholder="Total de vagas"
          value="{{with .Data}}{{.TotalSeats}}{{end}}"
        />
      </div>

      <div class="field">
        <span class="prompt">&gt;</span>
        <span class="label"
          >Data do evento (não aceita reservas nesta data):</span
        >
        <input
          class="value"
          type="date"
          name="ends_at"
          placeholder="Data do evento"
          value="{{with .Data}}{{.EndsAt}}{{end}}"
        />
      </div>

      <button type="submit" class="btn-terminal" data-loading="true">
        CRIAR EVENTO
      </button>
    </form>
  </div>
</div>

{{end}}
