{{ define "layout" }}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{if .Title}}{{.Title}} • {{end}}SofReserve</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body class="app">
    <header class="header">
      <div class="logo">
        <a href="/" class="logo-link">
          <span class="primary">SOF</span>/<span class="secondary"
            >RESERVE</span
          >
        </a>
      </div>

      <nav class="nav nav-terminal">
        <a href="/events/new">&gt; Criar evento</a>
      </nav>
    </header>

    <main class="container">
      {{if eq .Page "landing"}} {{template "landing" .}} {{else if eq .Page
      "event_create"}} {{template "event_create" .}} {{else if eq .Page
      "event_dashboard"}} {{template "event_dashboard" .}} {{else if eq .Page
      "reservation_form"}} {{template "reservation_form" .}} {{else if eq .Page
      "reservation_confirmed"}} {{template "reservation_confirmed" .}} {{else if
      eq .Page "reservation_cancel"}} {{template "reservation_cancel" .}} {{else
      if eq .Page "reservation_pending"}} {{template "reservation_pending" .}}
      {{else if eq .Page "event_public"}} {{template "event_public" .}} {{else
      if eq .Page "event_owner_dashboard"}} {{template "event_owner_dashboard"
      .Data}} {{else if eq .Page "ticket_view"}} {{template "ticket_view"
      .}}{{end}}
    </main>

    <footer class="footer">
      <div class="footer-left">
        <span class="footer-label">sofreserve</span>
        <span class="footer-separator">·</span>
        <span class="footer-secondary">built with Go</span>
      </div>

      <div class="footer-right">
        <span class="footer-label">feedback/contact:</span>
        <span class="footer-email">luisteixeira.br@gmail.com</span>
      </div>
    </footer>

    <script src="/assets/js/form.js"></script>
  </body>
</html>
{{ end }}
