{{define "reservation_form"}}

<div class="terminal-card">
  <div class="terminal-header">{{.Title}}</div>

  <div class="terminal-body">
    <div class="terminal-subheader">
      <span>Faça abaixo sua reserva para o evento</span>
      <span class="value">{{.Data.EventName}}</span>
    </div>

    <p class="muted">
      <span class="prompt">&gt;</span>
      Vagas disponíveis: {{.Data.Available}}
    </p>

    {{if .Data.Error}}
    <div class="error">> ERRO: {{.Data.Error}}</div>
    {{end}}

    <br />

    {{if gt .Data.Available 0}}

    <form method="POST" action="/events/reserve" class="form">
      <input type="hidden" name="event_id" value="{{.Data.EventID}}" />

      <p>
        <span class="prompt">&gt;</span>
        <span class="label">Nome:</span>
        <input
          required
          type="text"
          class="value input-medium"
          name="name"
          maxlength="120"
          placeholder="Seu nome"
          value="{{.Data.Name}}"
        />
      </p>

      <p>
        <span class="prompt">&gt;</span>
        <span class="label">Email:</span>
        <input
          required
          type="email"
          class="value input-medium"
          name="email"
          maxlength="255"
          placeholder="seu@email.com"
          value="{{.Data.Email}}"
        />
      </p>

      <p>
        <span class="prompt">&gt;</span>
        <span class="label">Quantidade:</span>
        <input
          required
          type="number"
          name="quantity"
          class="value input-small"
          min="1"
          max="{{.Data.Available}}"
          step="1"
          value="{{if gt .Data.Quantity 0}}{{.Data.Quantity}}{{else}}1{{end}}"
        />
      </p>

      <br />

      <button type="submit" class="btn-terminal" data-loading="true">
        [ CONFIRMAR RESERVA ]
      </button>
    </form>
    {{else}}

    <div class="error">❌ Este evento está esgotado</div>

    {{end}}
  </div>
</div>

{{end}}
