{{ define "ticket_view" }}

<div class="terminal-card">
  <div class="terminal-header">Ticket de acesso • SofReserve</div>

  <div class="terminal-body">
    <p>
      <span class="prompt">&gt;</span>
      <span class="label">Evento:</span>
      <span class="value">{{ .Data.EventName }}</span>
    </p>

    <p>
      <span class="prompt">&gt;</span>
      <span class="label">Ticket:</span>
      <span class="value">#{{ .Data.TicketNumber }}</span>
    </p>

    <p>
      <span class="prompt">&gt;</span>
      <span class="label">Token:</span>
      <span class="value"> {{ slice .Data.Token 0 8 }} </span>
    </p>

    <p>
      <span class="prompt">&gt;</span>
      <span class="label">Status:</span>

      {{ if .Data.IsCheckedIn }}

      <span class="success">CHECKED-IN</span>

      {{ else }}

      <span class="value">VALID</span>

      {{ end }}
    </p>

    <br />

    <div class="qr-wrapper">
      <img
        src="https://api.qrserver.com/v1/create-qr-code/?size=240x240&data={{ .Data.TicketURL }}"
        alt="QR Code"
        class="qr-code"
      />
    </div>

    <br />

    {{ if .Data.IsCheckedIn }}

    <p class="success">
      <span class="prompt">&gt;</span>
      CHECKED-IN realizado
    </p>

    {{ else }}

    <p class="muted">
      <span class="prompt">&gt;</span>
      READY TO ENTER / PRONTO PARA ENTRAR
    </p>

    {{ end }}

    <br />

    <div class="terminal-note">
      <p class="muted">
        <span class="prompt">&gt;</span>
        Este QR-Code será utilizado pela organização para validar sua entrada no
        evento.
      </p>

      <p class="muted">
        <span class="prompt">&gt;</span>
        Ticket individual.
      </p>
    </div>

    <br />

    <p class="muted center">
      Powered by
      <a href="/" class="terminal-link"> SOFRESERVE </a>
    </p>

    <div class="hero-flow">
      <span class="arrow">&gt;&gt;</span>

      <div class="step">Crie seu evento</div>
      <span class="sep">&gt;&gt;</span>

      <div class="step">Gerencie reservas</div>
      <span class="sep">&gt;&gt;</span>

      <div class="step">Controle check-in</div>
    </div>
  </div>
</div>

{{ end }}
