{{ define "create_event" }}

<h1 class="title sci-fi">Criar Evento</h1>

{{if .Error}}
<p class="error">{{.Error}}</p>
{{end}}

<form method="POST" action="/events" class="flex flex-col gap-3">
  <input
    type="text"
    name="name"
    placeholder="Nome do evento"
    class="border p-2 rounded-lg"
  />

  <input
    type="number"
    name="total_seats"
    placeholder="Total de vagas"
    class="border p-2 rounded-lg"
  />

  <label class="text-sm text-gray-600">
    Data do Evento (não aceitar reservas nesta data)
  </label>
  <input
    type="date"
    name="ends_at"
    placeholder="Data do Evento"
    class="border p-2 rounded-lg"
  />

  <button class="btn-primary rounded-lg font-semibold">Criar</button>
</form>

{{ end }}
