{{define "event"}}
<!doctype html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-6 rounded-2xl shadow-lg w-96">
      <h1 class="text-xl font-bold mb-4">{{ .Name }}</h1>

      <p>Total: {{ .TotalSeats }}</p>
      <p>Reservadas: {{ .Reserved }}</p>
      <p class="font-semibold">Disponíveis: {{ .Available }}</p>

      <div class="mt-4">
        <p class="text-sm text-gray-600 mb-1">
          {{.Percentage}}% das vagas preenchidas
        </p>

        <div class="w-full bg-gray-200 rounded-full h-4 overflow-hidden">
          <div
            class="h-4 rounded-full {{.ColorClass}} transition-all duration-700"
            style="width: {{.Percentage}}%;"
          ></div>
        </div>
      </div>

      <!-- tempo restante -->
      <p class="text-sm text-gray-600 mt-2">{{.RemainingText}}</p>

      <!-- alerta -->
      {{if .ShowAlert}}
      <p class="text-yellow-600 text-sm">⚠️ Reservas encerram em breve</p>
      {{end}}

      <hr class="my-4" />

      <!-- botão condicionado -->
      {{if .IsClosed}}
      <p class="text-red-600 font-semibold text-center">Evento encerrado</p>
      {{else}}
      <a
        href="/reservation?event_id={{.ID}}"
        class="block text-center bg-green-600 text-white p-2 rounded-lg hover:bg-green-700"
      >
        Reservar vaga
      </a>
      {{end}}

      <a href="/create-event" class="text-blue-600 mt-4 inline-block">
        Criar outro evento
      </a>
    </div>
  </body>
</html>
{{ end }}
