{{define "event"}}
<!doctype html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-6 rounded-2xl shadow-lg w-96">
      <h1 class="text-xl font-bold mb-4">{{ .Data.Name }}</h1>

      <p>Total: {{ .Data.TotalSeats }}</p>
      <p>Reservadas: {{ .Data.Reserved }}</p>
      <p class="font-semibold">Disponíveis: {{ .Data.Available }}</p>

      <div class="mt-4">
        <div class="w-full bg-gray-200 rounded-full h-4 overflow-hidden">
          {{if eq .Data.Percentage 0}}
          <p class="text-sm text-gray-500 mb-1">
            Nenhuma vaga reservada ainda
          </p>
          {{else}}
          <p class="text-sm text-gray-600 mb-1">
          {{.Data.Percentage}}% das vagas preenchidas
          </p>

          <div
            class="h-4 rounded-full {{.Data.ColorClass}} transition-all duration-700"
            style="width: {{printf "%d%%" .Data.Percentage}};"
          ></div>
          {{end}}
        </div>
      </div>

      <!-- tempo restante -->
      <p class="text-sm text-gray-600 mt-2">{{.Data.RemainingText}}</p>

      <!-- alerta -->
      {{if .Data.ShowAlert}}
      <p class="text-yellow-600 text-sm">⚠️ Reservas encerram em breve</p>
      {{end}}

      <hr class="my-4" />

      <!-- botão condicionado -->
      {{if .Data.IsClosed}}
      <p class="text-red-600 font-semibold text-center">Evento encerrado</p>
      {{else}}
      <a
        href="/reservation?event_id={{.Data.ID}}"
        class="block text-center bg-green-600 text-white p-2 rounded-lg hover:bg-green-700"
      >
        Reservar vaga
      </a>
      {{end}}
   
    </div>
  </body>
</html>
{{ end }}
