{{ define "layout" }}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SofReserve</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>

  <body class="app">
    <!-- HEADER -->
    <header class="header">
      <div class="logo">Sof/Reserve</div>
      <nav class="nav">
        <a href="/onboarding">Início</a>
        <a href="/events/new">Criar evento</a>
      </nav>
    </header>

    <!-- MAIN -->
    <main class="container">
      {{if eq .Page "onboarding"}} {{template "onboarding" .}} {{else if eq
      .Page "event_create"}} {{template "event_create" .}} {{else if eq .Page
      "event_dashboard"}} {{template "event_dashboard" .}} {{else if eq .Page
      "reservation_form"}} {{template "reservation_form" .}} {{else if eq .Page
      "reservation_confirmed"}} {{template "reservation_confirmed" .}} {{else if
      eq .Page "reservation_cancel"}} {{template "reservation_cancel" .}} {{else
      if eq .Page "reservation_pending"}} {{template "reservation_pending" .}}
      {{else if eq .Page "event_public"}} {{template "event_public" .}}{{end}}
    </main>
  </body>
</html>
{{ end }}
